@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');
*{
	margin-top: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* Variables */

:root{

  /* font size */
  --big-font-size: 2rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .70rem;

  /* font weight */
  --font-medium:500;
  --font-semi-bold:600;

  /* Margeness */
--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}


/* Utility classes */
/* Using this class wherever needed */
/* Util name added before the class name, denotes that this classes are utility classes */

.Util-mg-top-1{
	margin-top: var(--mb-1);
}
.Util-mg-left-0-1{
	margin-left: var(--mb-1);
}
.Util-mg-top-2{
	margin-top: var(--mb-2);
}
.Util-mg-top-2-5{
	margin-top: var(--mb-2-5);
}
.Util-mg-top-3{
	margin-top: var(--mb-3);
}
.Util-mg-bottom-1{
	margin-bottom: var(--mb-1);
}
.Util-flex-row{
	display: flex;
	flex-direction: row;
}
.Util-flex-column{
	display: flex;
	flex-direction: column;
}
.Util-heading1{
  font-size: var(--h1-font-size);
}
.Util-heading4{
   font-size: var(--small-font-size);
}
.Util-green{
	color: green;
}
.Util-designation{
   font-size: var(--h3-font-size);
}
.Util-small-bold{
	font-size: var(--smaller-font-size);
	font-weight: var(--font-semi-bold);
}

/* Utility class end here */


body{
	display: flex;
	justify-content: center;

}
.container{
	width: 826px;
	border: 2px solid black;
	padding: 3rem;
}

/* introduction section Start*/

.sections{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
/* 	border: 2px solid red; */

}
.intro{
	background: #f2f2f2;
	width: 50%;
	height: 205px;
/* 	border: 2px solid red; */
  border-radius: 5px;
  box-shadow: 0 0 3px 1px black;
	padding:0 0 1rem 1rem;
}
.details{
	margin-top: 2rem;
}
.inlineBlock{
	display:block;
/* 	border: 1px solid green; */
	margin: 0 auto;
	padding: 0;
}
.para{
	display: inline-block;
	font-size: var(--smaller-font-size);
	font-weight: var(--font-semi-bold);
	margin-left: 0.35rem;
}
.icon{
	width: 11px;
}
.image{
	width: 205px;
	padding: 10px;
border-radius: 5px;
  box-shadow: 0 0 2px 2px black;
	height: 205px;
	background: #f2f2f2;
}
.image div{
	 border: 10px solid green;
	 overflow: hidden;
	 height: 100%;
	 width: 100%;
}
.profile-pic{
	width:100%;
	height: 100%;
/* 	border: 2px solid blue; */
}

/* Introduction section ends here */

/* About Section Start*/

.about{
	display: flex;
	flex-direction: column;
/* 	border: 2px solid red; */
	padding: 1rem 0 0 0;
	background: #f2f2f2;
	border-radius: 5px;
  box-shadow: 0 0 3px 1px black;
}
.flexboxes{
	display: flex;
	flex-direction: row;
/* 	border: 2px solid green; */
	width: 100%;
	justify-content: space-between;
}
.left{
	display: inline-block;
/*     border: 2px solid blue; */
    width: 20%;
    font-weight: var(--font-semi-bold);
    text-align: right;

}
.right-para{
/* 	border: 2px solid black; */
	width: 70%;
/*     margin-left: 3rem; */
}
.right-para p{
/* 		border: 2px solid black; */
	  font-size: var(--smaller-font-size);
    letter-spacing: 1px;
    line-height: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.skills{
	display: flex;
	flex-direction: row;
}
.rightskills{
/* 	border: 2px solid red; */
	width: 40%;
}
ul li{
font-size: var(--small-font-size);
    letter-spacing: 1px;
    line-height: 1.2rem;
    font-weight: var(--font-semi-bold);
    list-style: none;
}
ul li::before {
  color:green;
  content:"\25AA"; /*css code for square*/
  font-size:1.5em; 
  padding-right:.25em;
  position:relative;
    top:.12em;
}
/* About Section Ends*/

/* education table Start*/
.Edu-table{
/* 	border: 2px solid black; */
	padding: 0 0 0 1rem;
}
.Edu-table table{
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
}
.Edu-table td, .Edu-table th, .Edu-table tr{
	border: 1px solid black;
	height: 2rem;
	width: 30%;
	text-align: center;
	margin: 0 auto;
}
.Edu-table td{
	font-size: var(--small-font-size);
}
/* education table ends*/