@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');
*{
	margin-top: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #e3e9f8;
}
.designing-bootstrap{
    background-color: #93969c;
}

/* Variables */

:root{

  /* font size */
  --big-font-size: 2rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .70rem;

  /* font weight */
  --font-medium:500;
  --font-semi-bold:600;

  /* Margeness */
--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}


/* Utility classes */
/* Using this class wherever needed */
/* Util name added before the class name, denotes that this classes are utility classes */

.Util-mg-top-1{
	margin-top: var(--mb-1);
}
.Util-mg-left-0-1{
	margin-left: var(--mb-1);
}
.Util-mg-left-0-5{
	margin-left: var(--mb-0-5);
}
.Util-mg-top-1{
	margin-top: var(--mb-1);
}
.Util-mg-top-1-5{
	margin-top: var(--mb-1-5);
}
.Util-mg-top-2{
	margin-top: var(--mb-2);
}
.Util-mg-top-2-5{
	margin-top: var(--mb-2-5);
}
.Util-mg-top-3{
	margin-top: var(--mb-3);
}
.Util-mg-bottom-0-5{
	margin-bottom: var(--mb-0-5);
}
.Util-mg-bottom-1{
	margin-bottom: var(--mb-1);
}

/* css start */
body{
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
}
.container{
    background:#fff;
    width:50%;
    margin:9rem 0;
    padding:25px 20px;
    position:relative;
}
p{
    /* border:1px solid black; */
    padding:0;
    margin:0;
}
.lines{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid black; */

}
.lines > p{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.lines-detail{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid black; */
    padding:7px 0;

}
.lines-detail > p{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color:rgb(74, 158, 158);
}
.lines-detail div > button{
    border-style:none;
    background-color:#fff;
    outline: none;
}
.lines-detail div > .modal-body{
    background-color: #fff;
}

/* pagination */
.pagination-container {
    margin-top:3rem;
  }
  
   button{
    padding:5px 10px;
    color:black;
    background-color: azure;
    font-size: 1rem;
    font-weight: 600;
    border:none;
  }
  
  .pagination-button:not(:disabled):hover {
    background: #fff;
    color:#afaeae
  }
  
  .pagination-container #pagination-numbers button.active {
    color: #fff;
    background: #0085b6;
  }
  .border{
    border:2px solid black;
  }