@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');
*{
	margin-top: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color:#000000;
}

/* Variables */

:root{

  /* font size */
  --big-font-size: 2rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .70rem;

  /* font weight */
  --font-medium:500;
  --font-semi-bold:600;

  /* Margeness */
--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}


/* Utility classes */
/* Using this class wherever needed */
/* Util name added before the class name, denotes that this classes are utility classes */

.Util-mg-top-1{
	margin-top: var(--mb-1);
}
.Util-mg-left-0-1{
	margin-left: var(--mb-1);
}
.Util-mg-top-2{
	margin-top: var(--mb-2);
}
.Util-mg-top-2-5{
	margin-top: var(--mb-2-5);
}
.Util-mg-top-3{
	margin-top: var(--mb-3);
}
.Util-mg-bottom-1{
	margin-bottom: var(--mb-1);
}
.Util-mg-right-1{
    margin-right:0px;
}
.Util-flex-row{
	display: flex;
	flex-direction: row;
}
.Util-flex-column{
	display: flex;
	flex-direction: column;
    /* border:2px solid red; */
    padding:0px 30px;
}
.Util-heading1{
  font-size: var(--h1-font-size);
  color:#000000;
}
.Util-heading4{
   font-size: var(--small-font-size);
   color:#000000;
}
.Util-green{
	color: green;
}
.Util-designation{
   font-size: var(--h3-font-size);
   color:#000000;
}
.Util-small-bold{
	font-size: var(--smaller-font-size);
	font-weight: var(--font-semi-bold);
    color:#000000;
}
.Util-center{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.Util-button{
	width:15rem;
	padding:9px 0px;
    font-size:var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-right: 10px;
}
.addpadding{
    padding: 2rem;
}
.contain{
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-between;
    font-size:var(--h3-normal-size);
    padding:0 0 0 15px;
}
.left{
    width:30%;
    /* border:2px solid blue; */
    padding:5px 0;
    font-size:var(--h3-normal-size);
}
.right{
    width:65%;
    /* border:2px solid blue; */
    padding:5px 0;
}
.right-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:65%;
    /* border: 2px solid blue; */
}
.phone-detail-size{
    width:48%;
}
.right-flex.phone-detail{
    width:60%;
}
.padding-0{
    padding:0;
}
.padding-5{
    padding: 5px 0px;
    display: inline-block;
    width: 343px;
}

/* Utility class end here */


body{
	display: flex;
	justify-content: center;

}
.container{
	width: 700px;
	border: 1px solid #000000;
    background: #BBDEFB;
}

input, select{
    font-size:var(--h3-normal-size);
    padding:5px 0px;
}
input, p, legend, div, article, select, option{
    color:#000000;
    font-weight:600;
}



